// mi paleta de colores
$negro: #000000;
$blanco: #ffffff;
$naranja: #f59936;
$violeta: #5A2FA8;
$verde: #1481a8;
$celeste: #51d1ff;
$amarillo: #f5ed5d;
$negroTraslucido:#020024cc;
$violetaTraslucido:#490979cc;
$celesteTraslucido: #00d4ffcc;